@import "../../vars.css";

.container{
	color: var(--color-text2);
	margin-top: 120px;
	background: linear-gradient(0deg, rgba(230, 230, 230, 0.2) 0%, rgb(180, 174, 174, 1) 100%);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100vw;
	padding: 58px 10%;
	gap: 10px
}

.text h2 {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 4px;
}

.text p {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 2%;
}

.links{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	gap:26px;
}

.link{
	display: flex;
	align-items: center;
	gap: 25px;
}

.link a {
	color: var(--color-text2);
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1.5px;
}

.link img{
	width: 13%;
}

.contact {
	text-decoration: none;
	color:#000;
	font-size:large;
	border: 1px solid black;
	padding:1.5%;
	border-radius:5px;
}


@media screen and (max-width: 830px) {
.container{
	flex-direction: column;
	gap: 23px;
	margin-top: 60px;
	padding: 30px 5%;
}
.text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text h2 {
	font-size: 40px;
	font-weight: 600;
}

.text p {
	margin-top: 2%;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
}

.link a {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
}
}